(function() {
    var template, id, templates = {
    {{#templates}}
        "{{id}}": {{{template}}}{{^last}},{{/last}}
    {{/templates}}
    };
    if (!window.templates) {
    	window.templates = templates;
    } else {
    	window.templates.concat(templates);
    }
})();