<ul class="saved-list">
	{{#each entries}}
		<li>
			<div class="inner" data-role="saved-digits" data-digits="{{digits}}" data-id="{{id}}">
				<ul class="pairs">
					{{> digits}}
				</ul>
			</div>
		</li>
	{{/each}}
</ul>